<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>成功对接案例-详情</title>
    <meta name="keywords" content="成功对接案例-详情">
    <meta name="description" content="成功对接案例-详情">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/pgzg.css">
    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
</head>
<body>
<div class="w-all top">
    <div class="w-main">
        <a class="toplogoa fl">
            <img id="titleImg" src="img/111.png" alt="/"/>
        </a>
<!--        <div class="fl yxnwtop">-->
<!--            <a href="">-->
<!--                <img src="img/180.png" align="" class="fl">-->
<!--                <p class="fs-12 fc-1 fl">登录</p>-->
<!--            </a>-->
<!--            <a href="">-->
<!--                <img src="img/181.png" alt="" class="fl">-->
<!--                <p class="fs-12 fc-1 fl">企业注册</p>-->
<!--            </a>-->
<!--            <a href="">-->
<!--                <img src="img/182.png" alt="" class="fl">-->
<!--                <p class="fs-12 fc-1 fl">联系我们</p>-->
<!--            </a>-->
<!--        </div>-->
<!--        <form>-->
<!--            <div class="fr topseacher">-->
<!--                <input type="text" class="fs-12 fc-1 nrinput" placeholder="搜索"/>-->
<!--                <button type="submit" class="topsubmit">&nbsp;</button>-->
<!--            </div>-->
<!--        </form>-->
    </div>
</div>
<div class="clear"></div>
<div class="w-all navig">
    <div class="w-main">
        <ul>
            <li id="nav_sy">
                <a><img src="img/shouye.png" alt="" class="imz">首页</a>
            </li>
            <li id="nav_cgxx" class="mainlevel" class="on">
                <a class="parentMenu"><img src="img/chengguoxinxi.png" alt="" class="imz">成果信息</a>
                <ul id="nav_cgxx_sub_menu" class="childMenu"
                    style="position:absolute;z-index:999;background-color:#3691d7;" hidden>
                    <li id="nav_nycg" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">农业成果</a></li>
                    <li id="nav_yyjk" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">医药健康</a></li>
                    <li id="nav_swzz" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">生物制造</a></li>
                    <li id="nav_dzxx" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">电子信息</a></li>
                    <li id="nav_xnyqc" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">新能源汽车</a></li>
                    <li id="nav_xjzb" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">先进装备制造</a></li>
                    <li id="nav_xnykf" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">新能源开发利用</a></li>
                    <li id="nav_xcl" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">新材料</a></li>
                    <li id="nav_jnhb" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">节能环保</a></li>
                    <li id="nav_lgcg" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">理工成果</a></li>
                    <li id="nav_rwcg" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/renwenchengguo.png" alt="" class="imz">人文成果</a></li>
                </ul>
            </li>
<!--            <li id="nav_xmxx">-->
<!--                <a><img src="img/xiangmuxinxi.png" alt="" class="imz">项目信息</a>-->
<!--            </li>-->
            <li id="nav_qyxq">
                <a><img src="img/qiyexuqiu.png" alt="" class="imz">企业需求</a>
                <ul id="nav_qyxq_sub_menu" class="childMenu"
                    style="position:absolute;z-index:999;background-color:#3691d7;" hidden>
                    <li id="nav_jsxq" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/ligongchengguo.png" alt="" class="imz">技术需求</a></li>
                    <li id="nav_rcxq" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/renwenchengguo.png" alt="" class="imz">人才需求</a></li>
                    <li id="nav_jrfwxq" style="float: none;border-top: solid #d4d4d4 1px;"><a><img
                            src="img/renwenchengguo.png" alt="" class="imz">金融服务需求</a></li>
                </ul>
            </li>
            <li id="nav_zjxx">
                <a><img src="img/zhuajiaxinxi.png" alt="" class="imz">专家信息</a>
            </li>
            <li id="nav_zlxx">
                <a><img src="img/zhuanlixinxi.png" alt="" class="imz">专利信息</a>
            </li>
            <li id="nav_sysb">
                <a><img src="img/shiyanshebei.png" alt="" class="imz">实验设备</a>
            </li>
            <li id="nav_cxpt" class="mainlevel">
                <a class="parentMenu"><img src="img/cuangxinpingtai.png" alt="" class="imz">创新平台</a>
                <ul id="nav_cxpt_sub_menu" class="childMenu"
                    style="position:absolute;z-index:999;background-color:#3691d7;" hidden>
                    <li id="nav_lgjd" style="float: none;border-top: solid #d4d4d4 1px;"><a
                            class="dropdown-list"><img src="img/ligongjidi.png" alt="" class="imz">理工基地</a></li>
                    <li id="nav_rwjd" style="float: none;border-top: solid #d4d4d4 1px;"><a
                            class="dropdown-list"><img src="img/renwenjidi.png" alt="" class="imz">人文基地</a></li>
                </ul>
            </li>
            <li id="nav_xmxx">
                <a><img src="img/xiangmuxinxi.png" alt="" class="imz">项目信息</a>
            </li>
<!--            <li id="nav_qyxq">-->
<!--                <a><img src="img/qiyexuqiu.png" alt="" class="imz">企业需求</a>-->
<!--            </li>-->
            <li id="nav_rwsk" class="mainlevel">
                <a class="parentMenu"><img src="img/renwensheke.png" alt="" class="imz">人文社科</a>
                <ul id="nav_rwsk_sub_menu" class="childMenu"
                    style="position:absolute;z-index:999;background-color:#3691d7;" hidden>
                    <li id="nav_rwcg1" style="float: none;border-top: solid #d4d4d4 1px;"><a
                            class="dropdown-list"><img src="img/renwenchengguo.png" alt="" class="imz">人文成果</a></li>
                    <li id="nav_rwjd1" style="float: none;border-top: solid #d4d4d4 1px;"><a
                            class="dropdown-list"><img src="img/renwenjidi.png" alt="" class="imz">人文基地</a></li>
                </ul>
            </li>
            <li id="nav_gxfc" class="on">
                <a><img src="img/gaoxiaofengcai.png" alt="" class="imz">高校风采</a>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<div class="w-all">
    <div class="w-main">
        <div class="goodsxxfr fr" style="width: 100%">
            <div class="nagelj" style="width: 100%">
                当前位置：<a href="">首页></a>
                <a href="">科研动态</a>
            </div>
            <div class="czqycont" style="width: 100%">
                <h2 class="fs-18" style="width: 100%;margin-bottom: 20px">2013年长春市科技计划国际合作项目</h2>
                <ul class="cmain">
                    <li class="fs-14">
                        <p>
                            9月23日，长春市科技局副局长薛春志，国际合作处处长孙秀茹等一行三人到长春大学进行调研“2013年长春市科技计划国际合作项目”申报情况。长春大学科研处处长宋立军、副处长唐武生等相关人员接待了调研组。调研期间，长春市科技局领导分别听取了张莉弘等6位教师关于申报项目的汇报，并就课题申报的前期研究基础、国内外研究状况、课题的经济效益和社会效益以及成果转化等方面问题与教师进行了深入讨论与交流。</p>
                        <p></p>
                        <p>&nbsp;</p>
                        <p></p>
                    </li>
                </ul>
                <ul class="cbottom">
                    <li class="fs-14">
                        <div class="fl">
                            发布日期：2013-9-26
                        </div>
                    </li>
                </ul>
                <ul class="cmain">
                    <li class="fs-14" style="clear:both; width:460px; padding-left:2px; line-height:50px;">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--<div class="article_page_box">-->
<!--    <div class="page">-->
<!--        <a class="on" href="#">1</a>-->
<!--        <a href="#">2</a>-->
<!--        <a href="#">3</a>-->
<!--    </div>-->
<!--</div>-->
<div class="clear"></div>
<div class="h-30"></div>
<!--footer-->

<div class="clear"></div>
<div class="w-all banquan">
    <div class="banquan br">
        <h5>地址：吉林省长春市理工大学科技大厦 电话:0431-85583364 吉林省科技产业服务中心
        </h5>
        <h5>吉ICP 备14002627号</h5>
        <p id="visit">访问量：</p>
    </div>
</div>
</body>
</html>
