<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>成果信息</title>
    <meta name="keywords" content="成果信息">
    <meta name="description" content="成果信息">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/pgzg.css">

    <style>
        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        body {
            background-color: transparent;
        }
    </style>
</head>
<body>
<div class="w-all">
    <div class="w-main">
        <div class="goodsxxfl fl">
            <dl id="gaoxiao_mingchen" class="goodsxxfl fl gxlc">
                <dt class="fs-16">成果信息</dt>
                <!--                <dd class="fs-14"><a href="">吉林大学</a></dd>-->
                <!--                <dd class="fs-14"><a href="">东北师范大学</a></dd>-->
                <!--                <dd class="fs-14"><a href="" >延边大学</a></dd>-->
            </dl>


            <div class="goodsxxfr fr" style="margin-top: -50px; margin-left: 20px;">
                <div class="nagelj">
                    当前位置：<a href="/indexSmall">首页></a>
                    <a href="#">电子信息</a>
                </div>

                <div class="lxwmxz">
                    <ul id="chengguo_name">
                        <!--<li>-->
                        <!--<a href="">-->
                        <!--<h2 class="one_hidden fs-14 fl" style="width: 70%;">-->
                        <!--蒺藜皂苷激活PKC和ERK1/2抗心脑缺血作用机制及单体分析蒺藜皂苷激活PKC和ERK1/2抗心脑缺血作用机制及单体分析蒺藜皂苷激活PKC和ERK1/2抗心脑缺血作用机制及单体分析蒺藜皂苷激活PKC和ERK1/2抗心脑缺血作用机制及单体分析蒺藜皂苷激活PKC和ERK1/2抗心脑缺血作用机制及单体分析</h2>-->
                        <!--<p class="one_hidden fr fs-14" style="width: 20%;">机制及单体分析蒺藜皂苷激活</p>-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="">-->
                        <!--<h2 class="one_hidden fs-14 fl">集团统一标志性文件</h2>-->
                        <!--<p class="one_hidden fr fs-14">2017-08-27</p>-->
                        <!--</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="article_page_box">
            <div class="page">

                <a onclick="cgpageUp()" style="width:70px;height:40px ">上一页</a>
                <a onclick="cgpageDown()" style="width:70px;height:40px ">下一页</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="h-30"></div>
<!--footer-->

<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/dianzixinxi.js"></script>

</body>
</html>
