<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="keywords" content="吉林省高校科学技术展示平台">
		<meta name="description" content="吉林省高校科学技术展示平台">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/index.css">
		<script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
		<script type="text/javascript" src="js/tab.js"></script>
	</head>
	<style type="text/css">
		a {
		    cursor: pointer;
		}

		.roll{
			position: absolute;
			overflow: hidden;
			height: 310px;
		}
		.roll-div{
			font-family: simsun;
			font-weight: normal;
		}
		.roll-div div{
            margin-top:20px;
			height: 25px;
            width: 350px;
            overflow: hidden;
            cursor: pointer;
		}
		.btn-group span{
			color: #4386F5;
		}
	</style>
	<br>
		<div class="w-all">
		    <div id="slideBoxmo" class="slideBoxmo">
		        <div class="bd">
		            <ul>
		                <li>
		                    <center><a><img id="banner1" src="/img/banner1.png" alt=""></a></center>
		                </li>
		                <li>
		                    <center><a><img id="banner2" src="/img/banner2.png" alt=""></a></center>
		                </li>
		            </ul>
		        </div>
		        <a class="prev" href="javascript:void(0)"><img src="/img/prev.png" alt=""/></a>
		        <a class="next" href="javascript:void(0)"><img src="/img/next.png" alt=""/></a>
		    </div>
		    <script type="text/javascript">
		        jQuery(".slideBoxmo").slide({mainCell: ".bd ul", autoPlay: true});
		    </script>
		</div>
		<div class="clear"></div>
		<!--公告-->
		<!--<div class="w-all">-->
		<!--    <div class="w-main gonggao">-->
		<!--        <img src="img/gonggao.png" class="fl">-->
		<!--        <div class="txtScroll-top">-->
		
		<!--            <div class="bd fl">-->
		<!--                <ul class="infoList">-->
		<!--                    <li class="one_hidden">集团工会深入公司进行调研指导工作——为了贯彻集团工作要求，深化主题劳动竞赛促进企业发展，推动“点赞医药好职工”活动有序开展……</li>-->
		<!--                    <li class="one_hidden">中国打破了世界软件巨头规则</li>-->
		<!--                    <li class="one_hidden">集团工会深入公司进行调研指导工作——为了贯彻集团工作要求，深化主题劳动竞赛促进企业发展，推动“点赞医药好职工”活动有序开展……</li>-->
		<!--                    <li class="one_hidden">中国打破了世界软件巨头规则</li>-->
		<!--                </ul>-->
		<!--            </div>-->
		<!--            <div class="hd fr">-->
		<!--                <a class="next"></a>-->
		<!--                <a class="prev"></a>-->
		<!--            </div>-->
		<!--        </div>-->
		<!--        <script type="text/javascript">-->
		<!--            jQuery(".txtScroll-top").slide({mainCell: ".bd ul", autoPage: true, effect: "top", autoPlay: true, vis: 1});-->
		<!--        </script>-->
		<!--    </div>-->
		<!--</div>-->
		<div class="clear"></div>
		<!--中间内容-->
		<div class="w-all">
		    <div class="w-main">
		        <div class="fl conentl">
		            <div class="newstop">
		                <img src="/img/newslogo.png" alt="">
		                <span class="fs-16">成果信息</span>
		                <a href="/cgxx" class="fs-12">MORE ></a>
		            </div>
		            <div class="newscont">
		                <div class="fl">
		                    <div class="newsimg">  <!--地球图片-->
		                        <a href=""><img src="/img/contnew.png" alt=""></a>
		                    </div>
		                    <div class="newsbott">
		                        <!--                        <a href="">-->
		                        <!--                            <p class="one_hidden newspan1 fl">复合材料轻量化零部件制造在汽车</p>-->
		                        <!--                            <p class="newspan2 fl">2018-7-5</p>-->
		                        <!--                        </a>-->
		                    </div>
		                </div>
		                <div class="fl newslist">
		                    <!--<div class="newsfrtop">
		                        <a href="">
		                            <h2 class="fs-14 fl one_hidden">轮毂电机驱动电动汽车系列关键技术</h2>
		                            <span class="fs-12 fr">2018-2-13</span>
		                            <div class="clear"></div>
		                            <p class="fs-12 tw_hidden">一种干旱区重金属污染场地的生态修复方法</p>
		                        </a>
		                    </div>-->
		
<!--		                    <ul id="shouye_chengguo">-->
<!--		                    </ul>-->
                            <div  class="bangdan-contant">
                                <div  class="roll">
                                    <div id="shouye_chengguo" class="roll-div">

                                    </div>
                                </div>
                            </div>
		                </div>
		            </div>
		        </div>
		
		
		        <div class="fr conentfr">
		            <div class="rediantop zhuanti">
		                <img src="img/redainlogo.png" alt=""/>
		                <span class="fs-16">通知公告</span>
		                <a href="/tzgg" class="fs-12">MORE ></a>
		            </div>

                    <div  class="bangdan-contant">
                        <div  class="roll">
                            <div id="shouye_tongzhi" class="roll-div">

                            </div>
                        </div>
                    </div>
<!--		            <ul id="shouye_tongzhi">-->
<!--		                <li>-->
<!--		                    <a href="">-->
<!--		                        <h3 class="fs-12 fl one_hidden">中华人民共和国教育部</h3>-->
<!--		                        <span class="fs-12 fr">2016-12-12</span>-->
<!--		                    </a>-->
<!--		                </li>-->
<!--		            </ul>-->
		        </div>
		    </div>
		</div>
		<div class="clear"></div>
		<div class="w-all">
		    <div class="w-main">
		        <div class="fl massges">
		            <div class="massgtop jiaoju">
		                <span class="fs-16">企业需求</span>
		                <a href="/qyxq" class="fs-12">MORE ></a>
		            </div>
<!--		            <ul id="shouye_qiye">-->
<!--		                                <li>-->
<!--		                                    <a href="">-->
<!--		                                        <h3 class="fs-12 fl one_hidden">-->
<!--		                                            喷雾定容测试系统　</h3>-->
<!--		                                        <span class="fs-12 fr"></span>-->
<!--		                                    </a>-->
<!--		                                </li>-->
<!--		                                <li>-->
<!--		                                    <a href="">-->
<!--		                                        <h3 class="fs-12 fl one_hidden">改善aa片的制剂工艺</h3>-->
<!--		                                        <span class="fs-12 fr">2019-4-3</span>-->
<!--		                                    </a>-->
<!--		                                </li>-->
<!--		                                <li>-->
<!--		                                    <a href="">-->
<!--		                                        <h3 class="fs-12 fl one_hidden">超微粉接骨片</h3>-->
<!--		                                        <span class="fs-12 fr">2018-6-29</span>-->
<!--		                                    </a>-->
<!--		                                </li>-->
<!--		                                <li>-->
<!--		                                    <a href="">-->
<!--		                                        <h3 class="fs-12 fl one_hidden">电动真空泵</h3>-->
<!--		                                        <span class="fs-12 fr">2018-6-29</span>-->
<!--		                                    </a>-->
<!--		                                </li>-->
<!--		                                <li>-->
<!--		                                    <a href="">-->
<!--		                                        <h3 class="fs-12 fl one_hidden">关于开展吉林省高校科技成果展示对接活动的通知</h3>-->
<!--		                                        <span class="fs-12 fr">2018-6-29</span>-->
<!--		                                    </a>-->
<!--		                                </li>-->
<!--		            </ul>-->
					<div  class="bangdan-contant">
						<div  class="roll">
							<div id="shouye_qiye" class="roll-div">

							</div>
						</div>
					</div>
		        </div>
		        <div class="fl wtongy"></div>
		        <div class="fl massges ">
		            <div class="massgtop jiaoju">
		                <span class="fs-16">项目信息</span>
		                <a href="/xmxx" class="fs-12">MORE ></a>
		            </div>
<!--		            <ul id="shouye_xiangmu">-->
		                <!--                <li>-->
		                <!--                    <a href="">-->
		                <!--                        <h3 class="fs-12 fl one_hidden">2013年长春市科技计划国际合作项目</h3>-->
		                <!--                        &lt;!&ndash;<span class="fs-12 fr">2016-12-12</span>&ndash;&gt;-->
		                <!--                    </a>-->
		                <!--                </li>-->
		                <!--                <li>-->
		                <!--                    <a href="">-->
		                <!--                        <h3 class="fs-12 fl one_hidden">第三届吉林省大学生生命科学创新实验大赛圆满结束</h3>-->
		                <!--                        &lt;!&ndash;<span class="fs-12 fr">2016-12-12</span>&ndash;&gt;-->
		                <!--                    </a>-->
		                <!--                </li>-->
		                <!--                <li>-->
		                <!--                    <a href="">-->
		                <!--                        <h3 class="fs-12 fl one_hidden">中国科学院长春光学精密机械与物理研究所建成所研发区多媒体信息发布系统</h3>-->
		                <!--                        &lt;!&ndash;<span class="fs-12 fr">2016-12-12</span>&ndash;&gt;-->
		                <!--                    </a>-->
		                <!--                </li>-->
		                <!--                <li>-->
		                <!--                    <a href="">-->
		                <!--                        <h3 class="fs-12 fl one_hidden">年份：最新2013 2012</h3>-->
		                <!--                        &lt;!&ndash;<span class="fs-12 fr">2016-12-12</span>&ndash;&gt;-->
		                <!--                    </a>-->
		                <!--                </li>-->
<!--		            </ul>-->
                    <div  class="bangdan-contant">
                        <div  class="roll">
                            <div id="shouye_xiangmu" class="roll-div">

                            </div>
                        </div>
                    </div>
		        </div>
		        <div class="fl wtongy"></div>
		        <div class="fl massges ">
		            <div class="massgtop zixu">
		                <span class="fs-16">下载专区</span>
		                <a href="/xzzq" class="fs-12">MORE ></a>
		            </div>
		            <ul id="shouye_xiazai">
		                <li>
		                    <a href="">
		                        <h3 class="fs-12 fl one_hidden">中华人民共和国教育部</h3>
		                        <span class="fs-12 fr">2016-12-12</span>
		                    </a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
		<div class="clear"></div>
		<div class="w-all" style="margin-top:200px">
		    <div class="w-main">
		
		        <div class="tab" js-tab="1">
		            <!--            <div class="fl"><img src="img/yqljlogo.png" alt=""/></div>-->
		            <!--            <div class="czqy fl">-->
		            <!--                &lt;!&ndash;                <div class="tab-title fr">&ndash;&gt;-->
		            <!--                &lt;!&ndash;                    <a href="javascript:;" class="item lastitem item-cur">全资企业</a>&ndash;&gt;-->
		            <!--                &lt;!&ndash;                    <a href="javascript:;" class="item lastitem">控股企业</a>&ndash;&gt;-->
		            <!--                &lt;!&ndash;                    <a href="javascript:;" class="item">参股企业</a>&ndash;&gt;-->
		            <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
		            <!--            </div>-->
		            <div class="tab-cont tabconth">
		                <div class="tab-cont__wrap">
		                    <!--                    <div class="item">-->
		                    <!--                        <ul class="lanren">-->
		                    <!--                            <li>-->
		                    <!--                                <a onclick="window.location.href='http://www.moe.gov.cn'">中华人民共和国教育部</a>-->
		                    <!--                            </li>-->
		                    <!--                            <li>-->
		                    <!--                                <a onclick="window.location.href='http://www.most.gov.cn'">中华人民共和国科学技术部</a>-->
		                    <!--                            </li>-->
		                    <!--                            <li>-->
		                    <!--                                <a onclick="window.location.href='http://kjt.jl.gov.cn'">吉林省科技厅 </a>-->
		                    <!--                            </li>-->
		                    <!--                            <li>-->
		                    <!--                                <a onclick="window.location.href='">吉林省知识产权局</a>-->
		                    <!--                            </li>-->
		                    <!--                            <li>-->
		                    <!--                                <a onclick="window.location.href='http://jyt.jl.gov.cn'">吉林省教育厅</a>-->
		                    <!--                            </li>-->
		                    <!--                            <li>-->
		                    <!--                                <a onclick="window.location.href='http://www.cust.edu.cn'">长春理工大学</a>-->
		                    <!--                            </li>-->
		                    <!--                        </ul>-->
		                    <!--                    </div>-->
		                    <script>
		                        $(function () {
		                            // 多个元素不同变化方式（需要在HTML中加入js-tab）
		                            $('[js-tab=1]').tab();
		
		                            $('[js-tab=2]').tab({
		                                curDisplay: 2,
		                                changeMethod: 'horizontal'
		                            });
		                        });
		                    </script>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="clear"></div>
		<!--footer-->
<!--		<br class="w-all">-->
		<br>
		<div class="w-main footer">
		    <div class="fl"><img src="img/yqljlogo.png" alt=""/></div>
		    <div class="item">
		        <ul class="lanren">
		            <li>
		                <a href='http://www.moe.gov.cn' target="_blank" >中华人民共和国教育部</a>
		            </li>
		            <li>
		                <a href='http://www.most.gov.cn' target="_blank" >中华人民共和国科学技术部</a>
		            </li>
		            <li>
		                <a href='http://kjt.jl.gov.cn' target="_blank" >吉林省科技厅 </a>
		            </li>
		            <li>
		                <a ohref='' target="_blank" >吉林省知识产权局</a>
		            </li>
		            <li>
		                <a href='http://jyt.jl.gov.cn' target="_blank" >吉林省教育厅</a>
		            </li>
		            <!--                <li>-->
		            <!--                    <a onclick="window.location.href='http://www.cust.edu.cn'">长春理工大学</a>-->
		            <!--                </li>-->
		            <!--            <li>-->
		            <!--                <a onclick="window.location.href='https://cczhjf.ccjrkg.com/'">长春市综合金融服务平台</a>-->
		            <!--            </li>-->
		        </ul>
		    </div>
		</div>
		</br>
		<br>
		<div class="w-main footer">
		    <div class="fl"><img src="img/jrptlogo.png" alt=""/></div>
		    <div class="item">
		        <ul class="lanren">
		            <!--                <li>-->
		            <!--                    <a onclick="window.location.href='http://www.cust.edu.cn'">长春理工大学</a>-->
		            <!--                </li>-->
		            <li>
		                <a href="https://cczhjf.ccjrkg.com/" target="_blank" >长春市综合金融服务平台</a>
		            </li>
		        </ul>
		    </div>
		</div>
		</br>
		</div>
		<script src="js/index.js"></script>
	</body>
</html>
