<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>成果信息</title>
    <meta name="keywords" content="成果信息">
    <meta name="description" content="成果信息">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/pgzg.css">

    <style>
        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        body
        {
            background-color: transparent;
        }
    </style>
</head>
<body>


<div class="w-all">
    <!--    <div class="w-main footer">-->
    <!--        <div class="selectdiv fl">-->
    <!--            <select id="AreaId1">-->
    <!--                <option value="00"><a href="">成果类型：不限</a></option>-->
    <!--                &lt;!&ndash;                                <option value="01"><a href="">成果类型：技术成果</a></option>&ndash;&gt;-->
    <!--                &lt;!&ndash;                                <option value="02"><a href="">成果类型：产业化项目</a></option>&ndash;&gt;-->
    <!--            </select>-->
    <!--        </div>-->
    <!--        <div class="selectdiv fl">-->
    <!--            <select id="AreaId">-->
    <!--                <option value="-1"><a href="">所属单位：不限</a></option>-->
    <!--                &lt;!&ndash;                <option value="2"><a href="">所属单位：吉林大学</a></option>&ndash;&gt;-->
    <!--            </select>-->
    <!--        </div>-->
    <!--        <div class="selectdiv fl">-->
    <!--            <select id="AreaId2">-->
    <!--                <option value="00"><a href="">评价方式：不限</a></option>-->
    <!--                &lt;!&ndash;                <option value="01"><a href="">评价方式：鉴定</a></option>&ndash;&gt;-->
    <!--                &lt;!&ndash;                <option value="02"><a href="">评价方式：结题</a></option>&ndash;&gt;-->
    <!--                &lt;!&ndash;                <option value="03"><a href="">评价方式：验收</a></option>&ndash;&gt;-->
    <!--            </select>-->
    <!--        </div>-->
    <!--        <div class="selectdiv fl">-->
    <!--            <select id="AreaId3">-->
    <!--                <option value=""><a href="">评价水平：不限</a></option>-->
    <!--            </select>-->
    <!--        </div>-->
    <!--        <br>-->
    <!--        <div class="c" style="width: 100%;height: 50px;">-->
    <!--            <div class="labeldiv fl">-->
    <!--                <label style="font-size: 13.8px;margin-left: 38px">成果名称：</label>-->
    <!--                <input type="text">-->
    <!--            </div>-->
    <!--            <div class="fr topseacher">-->
    <!--                <button type="submit" class="topsubmit"-->
    <!--                        style="width: 60px;height: 25px;margin-top: 5px;margin-right: 60px">搜索-->
    <!--                </button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->


    <div class="w-main">
        <div class="goodsxxfl fl">
            <dl id="gaoxiao_mingchen" class="goodsxxfl fl gxlc" >
<!--                <dt class="fs-16">成果信息</dt>-->
                <!--                <dd class="fs-14"><a href="">吉林大学</a></dd>-->
                <!--                <dd class="fs-14"><a href="">东北师范大学</a></dd>-->
                <!--                <dd class="fs-14"><a href="" >延边大学</a></dd>-->
            </dl>


            <div class="goodsxxfr fr" style="margin-top: -50px; margin-left: 20px;">
                <div class="nagelj">
                    当前位置：<a href="/indexSmall">首页></a>
                    <a href="#">农业成果</a>
                </div>

                <div class="lxwmxz">
                    <ul id="chengguo_name">

                    </ul>
                </div>
            </div>
        </div>
        <div class="article_page_box">
            <div class="page">

                <a onclick="cgpageUp()" style="width:70px;height:40px ">上一页</a>
                <a onclick="cgpageDown()" style="width:70px;height:40px ">下一页</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="h-30"></div>
<!--footer-->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/nongyechengguo.js"></script>
</body>
</html>
