<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>人文成果</title>
    <meta name="keywords" content="人文成果">
    <meta name="description" content="人文成果">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/pgzg.css">
    <style>
        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        body
        {
            background-color: transparent;
        }
    </style>
    <!--    <link rel="stylesheet" href="css/bootstrap.min.css">-->
</head>
<body>

<!--<div class="w-all bannertu" style="background: url(img/bg01.png) no-repeat center;background-size: 100% 100%;"></div>-->
<div class="w-all">
<!--    <div class="w-main footer">-->
<!--        <div class="c" style="width: 100%;height: 50px;">-->
<!--            <div class="selectdiv fl">-->
<!--                <select id="AreaId">-->
<!--                    <option value=""><a>所属单位：不限</a></option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <div class="fr topseacher">-->
<!--                <button type="submit" class="topsubmit"-->
<!--                        style="width: 60px;height: 25px;margin-top: 5px;margin-right: 60px">搜索-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="w-main">
        <div class="goodsxxfl fl">
            <dl id="gaoxiao_mingchen" class="goodsxxfl fl gxlc">
                <dt class="fs-16">人文社科</dt>
                <!--                <dd class="fs-14"><a >吉林大学</a></dd>-->
                <!--                <dd class="fs-14"><a >东北师范大学</a></dd>-->

            </dl>
            <div class="goodsxxfr fr" style="margin-top: -50px; margin-left: 20px;">
                <div class="nagelj">
                    当前位置：<a href="/indexSmall">首页></a>
                    <a href="#">人文成果</a>
                </div>
                    <div class="lxwmxz">
                        <ul id="renwen_name">
                        </ul>
                    </div>
            </div>
        </div>
        <div class="article_page_box">
            <div class="page">

                <a onclick="rwpageUp()" style="width:70px;height:40px ">上一页</a>
                <a onclick="rwpageDown()" style="width:70px;height:40px ">下一页</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="h-30"></div>
    <!--footer-->
</div>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/renwenchengguoxinxi.js"></script>

</body>
</html>
