<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通知公告</title>
    <meta name="keywords" content="下载专区">
    <meta name="description" content="下载专区">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/pgzg.css">

    <style type="text/css">
        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        body
        {
            background-color: transparent;
        }
    </style>
</head>
<body>

<div class="w-all">
    <div class="w-main footer">
        <!--        <div class="c" style="width: 100%;height: 50px;">-->
        <!--            <div class="labeldiv fl">-->
        <!--                <label style="font-size: 13.8px;margin-left: 38px">需求名称：</label>-->
        <!--                <input type="text">-->
        <!--            </div>-->
        <!--            <div class="c" style="width: 100%;height: 50px;">-->
        <!--                <div class="labeldiv fl">-->
        <!--                    <label style="font-size: 13.8px;margin-left: 38px">发布企业：</label>-->
        <!--                    <input type="text">-->
        <!--                </div>-->
        <!--                <div class="selectdiv fl">-->
        <!--                    <select id="hhhh">-->
        <!--                        &lt;!&ndash;                        <option value=""><a href="">需求类型</a></option>&ndash;&gt;-->
        <!--                        <option value="0"><a href="">需求类型：不限</a></option>-->
        <!--                        &lt;!&ndash;                        <option value=""><a href="">人才</a></option>&ndash;&gt;-->
        <!--                        &lt;!&ndash;                        <option value=""><a href="">服务</a></option>&ndash;&gt;-->
        <!--                        &lt;!&ndash;                        <option value=""><a href="">技术</a></option>&ndash;&gt;-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--                <div class="fr topseacher">-->
        <!--                    <button type="submit" class="topsubmit" style="width: 60px;height: 25px;">搜索</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="clear"></div>
        <div class="w-all">
            <div class="lxwmxz1" style="width: 100%">
                <ul id="tongzhigonggao" style="width: 100%">
                    <li style="width: 100%">
                        <a href="">
                            <h2 class="one_hidden  fs-14  fl">喷雾定容测试系统</h2>
                            <p class="one_hidden fr fs-12" style="right:70%">中国第一汽车集团股份有限公司</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="clear"></div>
<div class="h-30"></div>
<div class="w-all">
    <div class="w-main footer">
        <div class="article_page_box">
            <div class="page">

                <a onclick="pageUp()" style="width:70px;height:40px ">上一页</a>
                <a onclick="pageDown()" style="width:70px;height:40px ">下一页</a>

            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/tongzhigonggao.js"></script>
</body>
</html>