<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通知公告-详情</title>
    <meta name="keywords" content="通知公告-详情">
    <meta name="description" content="通知公告-详情">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/pgzg.css">
    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
    <style>
        body
        {
            background-color: transparent;
        }
    </style>
</head>
<body>
<div class="w-all">
    <div class="w-main">
        <div class="goodsxxfr fr" style="width: 100%">
            <div class="nagelj" style="width: 100%">
                当前位置：<a href="">首页></a>
                <a href="">通知公告</a>
            </div>


            <div class="czqycont">
                <ul id="title">
                    <li>
                        <a>
                            <!--                <h2 class="fs-18">酸溶法光纤传像束</h2>-->
                            <!--                <h3 class="fs-14">编号：20130308110525769407770</h3>-->
                        </a>
                    </li>
                </ul>
                <div class="czqycont">
                    <ul class="cmain" id="main">
                        <li class="fs-14" style="clear:both; width:460px; padding-left:2px; line-height:50px;">
                            <a>知识产权及获奖情况：</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="czqycont">
                <ul class="cmain" id="footer">
                    <li class="fs-14" style="clear:both; width:460px; padding-left:2px; line-height:50px;">
                        <a>知识产权及获奖情况：</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!--<div class="article_page_box">-->
<!--    <div class="page">-->
<!--        <a class="on" href="#">1</a>-->
<!--        <a href="#">2</a>-->
<!--        <a href="#">3</a>-->
<!--    </div>-->
<!--</div>-->
<div class="clear"></div>
<div class="h-30"></div>
<!--footer-->

<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/tongzhigonggao_details.js"></script>
</body>
</html>
