<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>专家信息-详情</title>
    <meta name="keywords" content="专家信息-详情">
    <meta name="description" content="专家信息-详情">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/pgzg.css">
    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<style>
    body
    {
        background-color: transparent;
    }
</style>
<div style="width: 100%;height: 20px"></div>
<div class="w-all">
    <div class="w-main">
        <!-- <div class="goodsxxfl fl">
             <dl>
                 <dt class="fs-16">设备资源信息</dt>
                 <dd class="fs-14"><a href="">吉林大学</a></dd>
                 <dd class="fs-14"><a href="">长春理工大学</a></dd>
                 <dd class="fs-14"><a href="" class="change">延边大学</a></dd>
                 <dd class="fs-14"><a href="" class="change">长春大学</a></dd>
             </dl>
         </div>-->

        <div class="goodsxxfr fr" style="width: 100%">
            <div class="nagelj" style="width: 100%">
                当前位置：<a href="/indexSmall">首页></a>
                <a href="/zjxx">专家信息></a>
                <a href="#">专家信息-详情</a>
            </div>
            <div class="czqycont" style="width: 100%">
                <div class="czqycont">
                    <ul id="title">
                        <li>
                            <a>
                                <h2 class="fs-18" style="width: 100%">刘财</h2>
                                <h3 class="fs-14" style="width: 100%">编号：20121210094254069137</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--<div class="goodsme">
                    <script type="text/javascript">
                        jQuery(".goodsBox").slide({mainCell:".bd ul",autoPlay:true});
                    </script>-->
                <div class="czqycont" id="main">
                    <table class="cinfo1" style="width: 100%">
                        <tr>
                            <td rowspan="6" style="width: 30%">
                                <img src="img/chanp01.png" alt=" " width="300" height="300"/>
                            </td>
                            <td>
                                性别：男
                            </td>
                            <td>
                                行业1：科学研究、技术服务和地质勘查业_地质勘查业
                            </td>
                        </tr>
                        <tr>
                            <td>
                                行业2：
                            </td>
                            <td>
                                职称：教授
                            </td>
                        </tr>
                        <tr>
                            <td>
                                学历：博士研究生
                            </td>
                            <td style="width: 30%">
                                职务：院长
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 30%">
                                称号：
                            </td>
                            <td style="width: 30%">
                                单位：吉林大学
                            </td>

                        </tr>
                        <tr>

                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="czqycont" style="width: 100%">
                    <ul class="cmain" style="width: 100%" id="footer">
                        <li class="fs-14" style=" clear:both; width:100%; padding-left:25px; line-height:20px;">
                            刘财，博士，教授，博士生导师，吉林大学教授二级岗，唐敖庆特聘教授，吉林省高级专家。现任吉林大学地球探测科学与技术学院院长，兼任吉林大学地球物理研究所所长、吉林大学综合信息矿产预测研究所所长，中国地球物理学会常务理事，
                            吉林省地球物理学会副理事长，吉林省地震学会副理事长。 2007年宝钢教育奖优秀教师奖获得者，长春市第四批突出贡献专家
                            （2006年5月），吉林省第六届青年科技奖，吉林省第三批高级专家（2011年10月），
                            吉林省第九批、第十一批突出贡献专家（2006年7月、2010年7月），长春市第十一次党代会代表（2007年1月）。
                        </li>
                        <li class="fs-14" style=" clear:both; width:100%; padding-left:25px; line-height:20px;">
                            备注：
                        </li>
                    </ul>
                </div>


                <!--  <div class="clear"></div>
                  <div class="cpxqdiv">
                      <span class="fs-16 fl">产品详情</span>
                      <div class="boderdiv fr"></div>
                      <div class="clear"></div>
                      <div class="xqcontent"></div>
                      <div class="bordercont"></div>
                      <div class="sygxyg">
                          <a href="">上一个：产品</a><br />
                          <a href="">上一个：产品</a>
                      </div>
                  </div>
              </div>-->
            </div>
        </div>
        <div class="clear"></div>
        <div class="h-30"></div>
        <!--footer-->

        <script src="js/zhuanjiaxinxixiangqing.js"></script>
        <script src="js/jquery-3.1.1.min.js"></script>
    </div>
</div>
</body>
</html>
